body{
    height: 100vh;
    background: linear-gradient(
        rgba(250,135,89,255) 0%,
        rgba(250,135,89,255) 50%,
        white 50%,
        white 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    border: 2px rgb(211, 16, 16);

}
h1{
    color: rgba(166,60,41,255);
    font-family: 'Merriweather', serif;
}
.checkbox{
    margin-right: 3px;
    vertical-align:middle;
}
.listItem{
    padding: 9px;
}
.new{
    display: flex;
}
.item1{
    width: 30rem;
    margin-right: 2%;
    border: 0;

}
.item1child{
    width: 100%;
    border-radius: 10px;
}

.item2child{
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 20%;
}
.item2child:hover {
    background-color: #4CAF50;
    color: white;
  }

.box2{
    min-height: 10rem;
    min-width: 10rem;
    margin-top: 2%;
    background-color: #f9e2da;
}
.dropdown{
    border: 0;
    background-color: rgba(250,135,89,255);
}